<html>
    <center><head>
        <link rel="icon" href="https://lh3.googleusercontent.com/-gOvajQwYauc/AAAAAAAAAAI/AAAAAAAAAAA/AMZuucm4E5Fs9Rxz_kKIC67P70-58Y2jkw/photo.jpg?sz=46">
        <title>Chat</title>
    </head>
    <body style="background-color:greenyellow;">
        <h1>Chat</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.room.label }}: {{ form.room() }} {% for error in form.room.errors %}{{ error }}{% endfor %}<br>
            {{ form.submit() }}
        </form>
    </body>
</html>
